language: node_js
node_js:
  - "4"
  - "6"
  - "7"
  - "8"
before_script:
  - npm install -g coveralls
script:
   - npm install
   - npm run lint
   - npm test
branches:
  only:
    - master
after_success:
  - npm run coverage
  - cat ./coverage/lcov.info | coveralls
notifications:
  irc: "chat.freenode.net#brass-monkey"
